
<div class="hero-image">
  <h1 class="hero-text">
      <mark>When the details matter...</mark><br>
      <small>
        <a href="#about" style="color: red">
          <i class="fas fa-lg fa-chevron-circle-down"></i>
        </a>
      </small>
  </h1>
</div>

<section class="about-section" id="about">
  <div class="container">
    <h2>Kathryn L. Zanoni Interior Design</h2>
    <hr class="light"><br>
    <p>
      Kate Zanoni founded Kathryn L. Zanoni Interior Design in 1999 with the understanding that details matter. With a natural ability Kate develops a design process around the needs and individual style of the client, while maintaining the principles of high end design.
    </p>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5">
        <br>
      
        <%= image_tag("kate-zanoni-interior-design.jpg", {class: "img-fluid", alt: "Kathryn Zanoni"}) %> 
      </div>
      <div class="col-xs-12 col-sm-6 col-md-7">
        <h3>A Consummate Designer</h3>
        <p>
            Kate has a background in the arts. She is a graduate of the Harrington Institute of Interior Design in Chicago and continues to gain valuable experience creating and developing living spaces for clients with the most sophisticated and far-ranging of tastes.
         </p>
        <h3>Interior Design as Process</h3>
        <p>
            The essence of interior design is the merging of form, function and finish with the aesthetic sensibilities of the client. From initial designs, through purchasing and construction management, to the installation of the finishing touches, Kathryn L Zanoni Interior Design will orchestrate the entire process to produce superior results.
        </p>
      </div> 
    </div>
    <br>
    <h3>A Sublime Result</h3>
    <p>
      The final product and the client’s satisfaction are the true measures of success. Kathryn L. Zanoni Interior Design is committed to crafting truly inspiring interior spaces and making the process enjoyable. For interior design that marries form, function and finish with the sublime details of one’s own style, <a href="#contact" style="color:#fff;" >contact us</a> today.
    </p>
    <p>
      <br>
      
        <a href="#services" style="color: red">
          <i class="fas fa-2x fa-chevron-circle-down"></i>
        </a>
      
      <!--<a href="#services" class="btn btn-danger btn-lg page-scroll">-->
      <!--  <i class="fa fa-angle-double-down"></i>&nbsp;Our Services-->
      <!--</a> -->
    </p>
  </div>
</section>

<section class="services-section" id="services">
  <div class="container">
    <h2>Our Services</h2>
    <hr class="primary">
 
                         
        <h3>Design</h3>
        <p class="text-muted">
          We understand that functionality is as valuable as form and can help you realize the maximum potential for your space.We will take your input, combine it with our expertise and design a fantastic space that suits your tastes and your needs. We’ll create a unique blend of your style and contemporary design philosophy. Don’t forget that half the fun is in the creation.
        </p>
      
                       
        <h3>Consultation</h3>
        <p class="text-muted">
          If you are not quite ready to embark on a full scale remodel and just want to explore your interior design options, we are delighted to help. Consultations can involve anything from simple advice on furnishings and fixtures to detailed plans on a fully remodeled or new space. We also can be available if you need assistance in managing your construction project. Our goal is to facilitate the interior design process for you by laying a good foundation and not allowing you to miss any of the important details.
        </p>
      
                           
        <h3>Purchasing</h3>
        <p class="text-muted">
         Shopping is an enjoyable pursuit when done at one’s leisure and on one’s own schedule. However, coordinating the purchase, delivery and installation of a large amount of furniture and fixtures can be a difficult process. It requires excellent organization and superb attention to detail. Kathryn L. Zanoni Interior Design will manage this challenging process for you.
        </p>
    
                             
        <h3>Finishing Touches</h3>
        <p class="text-muted">
          Sometimes, pulling all the loose ends together and completing a project is the most difficult task. We will assemble the final “punch list” to ensure that every last detail is accomplished, and that the project is finished to your complete satisfaction. The final result is a beautiful space that will be both comfortable for your everyday living, and one where you will feel proud to entertain your friends and families.
        </p>
     
    <p>
      <br>
        <!--<a href="#portfolio" class="hidden-xs btn btn-danger btn-lg page-scroll">-->
        <!--  <i class="fa fa-angle-double-down"></i>&nbsp;Our Portfolio-->
        <!--</a>-->
         <a href="#portfolio" style="color: red">
          <i class="fas fa-2x fa-chevron-circle-down"></i>
        </a>
    </p>             
  </div>
</section>

<section class="portfolio-section" id="portfolio">
  <h2>
    Our Portfolio
    <% if user_signed_in?  %>
      <small><%= link_to "+ Add new portfolio gallery", new_gallery_path, class: "btn btn-success" %> <small class="text-muted"> (Admin only) </small></small>
    <% end %>
  </h2>
  
  <div class="container">
    <div class="row">
      <!-- Dynamic galleries-->
      <% @galleries.each do |gallery| %>
        <div class="col-xs-12 col-lg-6" style="padding-top: 20px; margin-top: 40px; ">
          <%= link_to gallery_path(gallery) do %>
            <% if gallery.image.present? %>
            <!-- imag srcset later for smaller screen show medium ??? -->
              <%= image_tag gallery.image.url(:large), alt: gallery.try(:name), class: "img-fluid img-thumbnail" %>
            <% else %>
              <img src="https://via.placeholder.com/540x325" style=" height: 325px; max-width:100%">
            <% end %>
              <br>
              <%= gallery.name %>
              <% if user_signed_in? %>
                <br>
                <%= link_to '<i class="fa fa-pencil-alt"></i>' .html_safe, edit_gallery_path(gallery), class: "btn btn-sm btn-secondary" %>
                <%= link_to '<i class="fa fa-times"></i>' .html_safe, gallery, method: :delete, data: { confirm: 'Are you sure? This will delete any pictures in the gallery as well.' }, class: "btn btn-sm btn-danger" %> 
                <small class="text-muted">
                   (Admin only) <br>
                   <em>Display Order: </em><%= gallery.sort_order || "none" %> 
                </small>
              <% end %>
           
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
   <p>
      <br>
        <a href="#contact" style="color: red">
          <i class="fas fa-2x fa-chevron-circle-down"></i>
        </a>
    </p>
</section>


<%= render 'welcome/contact_us_section' %>
  




  




