
<section class="portfolio-section">
  <div class="container">
  <div class="row-fluid">
    <div class="col-xs-12">

      <p id="notice"><%= notice %></p>
      
      
      <h2><span class= "text-muted float-sm-left" style=margin-left:20px;><%= link_to '<i class="fas fa-angle-double-left"></i>' .html_safe, gallery_path(@picture.gallery_id) %></span></h2>
      <br>  
        <p>
          <%= image_tag @picture.image.url(:large), class:"img-fluid img-thumbnail" %>
        </p>
         <p>
        <strong>Gallery:</strong>
        <%= link_to @picture.gallery.try(:name), gallery_path(@picture.gallery_id) %>
      </p>
        <% if @picture.name.present? %>
          <p>
            <strong>Image:</strong>
            <%= @picture.name %>
          </p>
        <% end %>
        <% if @picture.description.present? %>
        <p>
          <strong>Description:</strong>
          <%= @picture.description %>
        </p>
        <% end %>
   
        
        <% if user_signed_in? %>
          <br><br>
          <small class="text-muted"> (Admin only): </small>
          <%= link_to '<i class="fa fa-pencil-alt"></i>' .html_safe, edit_picture_path(@picture), class: "btn btn-sm btn-secondary" %>
          <%= link_to '<i class="fa fa-times"></i>' .html_safe, @picture, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
        <% end %>
        
        
      </div>
  </div>

</div>
</section>

