<section class="portfolio-show" %>
  <div class="container-fluid">
    <br>
    <h1>
   
      <span class= "float-sm-left" style="margin-left:20px;font-size:50%;">
        <%= link_to '<i class="fas fa-angle-double-left text-muted"></i> Back to Portfolios' .html_safe, root_path(:anchor => 'portfolio'), class:"text-muted" %>
      </span>
      <!-- <span class= "text-muted float-sm-left" style="margin-left:20px;font-size:50%;">-->
      <!--   <%#= link_to 'Our Portfolio', root_path(:anchor => 'portfolio'), class:"text-muted", style:"text-decoration: underline;" %> -->
      <!--  <i class="fas fa-angle-right text-muted"></i>-->
      <!--  <%#= @gallery.name %>-->
      <!--</span>-->
      <%= @gallery.name %>
      <% if user_signed_in? %>
        <small><small> 
          <%= link_to '<i class="fa fa-pencil-alt"></i>' .html_safe, edit_gallery_path(@gallery), class: "btn btn-sm btn-secondary" %>
          <%= link_to '<i class="fa fa-plus"></i> Add new picture' .html_safe,  new_picture_path(:gallery_id => @gallery.id), class: "btn btn-sm btn-success" %>
           <small class="text-muted"> &nbsp;(Admin only) </small>
        </small></small>
      <% end %>
    </h1>
    <p>
      <%= @gallery.description if @gallery.description.present? %>
    </p>
   <br>
    <div class = "row">
      <% if @gallery.pictures.present? %>
        <% @pictures.each do |picture| %>
          <div class="col-xs-12 col-md-6 col-lg-4" style="padding: 1rem;">
            <%= link_to picture_path(picture) do %>
              <%#= image_tag picture.image.url(:medium), alt: picture.try(:name), class:"img-fluid img-thumbnail" %>
              <%= image_tag picture.image.url(:medium || :large), alt: picture.try(:name), class:"img-fluid img-thumbnail" %>
            <% end %>
              <p>
               <%= picture.try(:name) %>
                <% if user_signed_in? %>
                  <br><br>
                  <small class="text-muted"> (Admin only): </small>
                  <%= link_to '<i class="fa fa-pencil-alt"></i>' .html_safe, edit_picture_path(picture), class: "btn btn-sm btn-secondary" %>
                  <%= link_to '<i class="fa fa-times"></i>' .html_safe, picture, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
                  <br>
                  <small class="text-muted"><em>Display Order: </em><%= picture.sort_order || "none" %> </small>
                <% end %>
              </p>  
          </div>
        <% end %>
      <% else %>
        <p> There are currently no pictures in this gallery</p>
      <% end %>
    </div>
    
  </div>
</section>

<%= render 'welcome/contact_us_section' %>
